
/* header */
header {
    position: relative;
    text-align: center;
    color: white;
}

header img {
    width: 100%;
    height: auto;
}

.display-4 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 140px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.lead {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.35),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

/* navbar */
.bg-primary {
    background-color: white;
}

/* about */
.about {
    padding-bottom: 100px; 
}
#about-head {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 10px;
}

#about p {
    padding-top: 20px;
}

/* portfolio */
.portfolio {
    background-color: rgb(213, 230, 215);
    padding-bottom: 50px; 
}

.portfolio .container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    margin: auto;
    max-width: 1000px;
}

#portfolio-head {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 10px;
}

.card {
    height: 250px;
    position: relative;
    width: 250px;
    margin-bottom: 50px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
}

#portfolio1:hover, #portfolio2:hover, #portfolio3:hover, #portfolio4:hover, #portfolio5:hover, #portfolio6:hover {
    transform: scale(1.05);
}

#portfolio2 img {
    padding-top: 50px;
}

#portfolio3 img {
    padding-top: 20px;
}

#portfolio4 img {
    padding-top: 60px;
}

#portfolio5 img {
    padding-top: 2px;
}

#portfolio6 img {
    padding-top: 30px;
}


/* contact */
.contact {
    padding-bottom: 100px;
}
#contact-head {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 10px; 
}

.contact-text {
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
}

/* contact buttons */

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: black;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: white;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: black;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button.victoria-one {
	border: 2px solid rgb(213, 230, 215);
}
a.animated-button.victoria-one:after {
	background: rgb(213, 230, 215);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
a.animated-button.victoria-two {
	border: 2px solid rgb(213, 230, 215);
}
a.animated-button.victoria-two:after {
	background: rgb(213, 230, 215);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
a.animated-button.victoria-three {
	border: 2px solid rgb(213, 230, 215);
}
a.animated-button.victoria-three:after {
	background: rgb(213, 230, 215);
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
	height: 140%;
	opacity: 1;
}

/* footer */
footer {
    padding: 20px 0px 10px 0px;
    background-color: rgb(211, 211, 211);
    color: black;
}

/* modal */
.modal-body {
    text-align: center;
    color: black;
}

.modal-text {
    padding-top: 20px;
}

.modal-title {
    font-weight: bold;
    font-size: 24px;
}

/* modal buttons */

.wrap a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}

a.button {
    color: black;
    box-shadow: black 0 0px 0px 2px inset;
}

a.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: black 0 0px 0px 40px inset;
}

a.button2 {
    color: black;
    box-shadow: black 0 0px 0px 2px inset;
}

a.button2:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: black 0 80px 0px 2px inset;
}

/* media queries */

@media all and (max-width: 2300px) { 
    .display-4 {
        font-size: 120px
    }
    .lead {
        font-size: 55px;
        top: 38%;
    }
}

@media all and (max-width: 1900px) { 
    .display-4 {
        font-size: 110px;
        top: 27%;
    }
    .lead {
        font-size: 50px;
        top: 40%;
    }
}

@media all and (max-width: 1700px) { 
    .display-4 {
        font-size: 100px;
        top: 27%;
    }
    .lead {
        font-size: 45px;
        top: 40%;
    }
}

@media all and (max-width: 1500px) { 
    .display-4 {
        font-size: 90px;
        top: 27%;
    }
    .lead {
        font-size: 40px;
        top: 40%;
    }
}

@media all and (max-width: 1300px) { 
    .display-4 {
        font-size: 72px;
        top: 27%;
    }
    .lead {
        font-size: 38px;
        top: 40%;
    }
}

@media all and (max-width: 1200px) { 
   .portfolio .container {
       max-width: 800px;
   }
}

@media all and (max-width: 1100px) { 
    .display-4 {
        font-size: 68px;
        top: 27%;
    }
    .lead {
        font-size: 36px;
        top: 42%;
    }
}

@media all and (max-width: 950px) { 
    .display-4 {
        font-size: 60px;
        top: 27%;
    }
    .lead {
        font-size: 34px;
        top: 42%;
    }
}

@media all and (max-width: 900px) { 
    .display-4 {
        font-size: 54px;
        top: 27%;
    }
    .lead {
        font-size: 30px;
        top: 40%;
    }
}

@media all and (max-width: 780px) { 
    .display-4 {
        font-size: 42px;
        top: 27%;
    }
    .lead {
        font-size: 22px;
        top: 40%;
    }
}

@media all and (max-width: 620px) { 
    .display-4 {
        font-size: 38px;
        top: 27%;
    }
    .lead {
        font-size: 20px;
        top: 42%;
    }
}

@media all and (max-width: 570px) { 
    .display-4 {
        font-size: 32px;
        top: 27%;
    }
    .lead {
        font-size: 18px;
        top: 42%;
    }
}

@media all and (max-width: 492px) { 
    .display-4 {
        font-size: 28px;
        top: 27%;
    }
    .lead {
        font-size: 18px;
        top: 42%;
    }
}

@media all and (max-width: 440px) { 
    .display-4 {
        font-size: 24px;
        top: 27%;
    }
    .lead {
        font-size: 14px;
        top: 45%;
    }
}

@media all and (max-width: 390px) { 
    .display-4 {
        font-size: 22px;
        top: 27%;
    }
    .lead {
        font-size: 12px;
        top: 45%;
    }
}

@media all and (max-width: 363px) { 
    .display-4 {
        font-size: 20px;
        top: 27%;
    }
    .lead {
        font-size: 12px;
        top: 45%;
    }
}



