
/* header */
header {
    position: relative;
    text-align: center;
    color: white;
}

header img {
    width: 100%;
    height: auto;
}

.display-4 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 72px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.lead {
    color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.35),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

/* about */
.about {
    padding-bottom: 50px; 
}
#about-head {
    padding-top: 50px;
    text-align: center;
}

#about p {
    padding-top: 20px;
}

/* portfolio */
.portfolio {
    background-color: rgb(213, 230, 215);
}

.portfolio .container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    margin: auto;
}

#portfolio-head {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.card {
    height: 250px;
    position: relative;
    width: 250px;
    margin-bottom: 50px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
}

#portfolio1:hover, #portfolio2:hover, #portfolio3:hover, #portfolio4:hover {
    transform: scale(1.05);
}

#portfolio2 img {
    padding-top: 45px;
}

#portfolio3 img {
    padding-top: 20px;
}

#portfolio4 img {
    padding-top: 60px;
}


/* contact */
.contact {
    padding-bottom: 50px;
}
#contact-head {
    padding-top: 50px;
    text-align: center;
}
.contact p {
    padding-top: 20px;
}

/* footer */
footer {
    padding: 20px 0px 10px 0px;
    background-color: rgb(187, 187, 187);
    color: white;
}

/* modal */
.modal-body {
    text-align: center;
    color: black;
}

.modal-text {
    padding-top: 20px;
}

.modal-title {
    font-weight: bold;
    font-size: 24px;
}

/* modal buttons */

a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}

a.button {
    color: black;
    box-shadow: black 0 0px 0px 2px inset;
}

a.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: black 0 0px 0px 40px inset;
}

a.button2 {
    color: black;
    box-shadow: black 0 0px 0px 2px inset;
}

a.button2:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: black 0 80px 0px 2px inset;
}
